body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

body,
html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

#outputH1,
#outputH2 {
  text-align: center;
  justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

#background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.top_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  z-index: 1;
}

.top_text {
  padding: 12px;
  background-color: white;
  mix-blend-mode: screen;

  font-weight: 900;
  border-radius: 12px;
  font-size: 5rem;
}


/* Create a Parallax Effectlogo */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('meetings.jpg');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url('meetups.png');
  min-height: 400px;
}


/* Third image (Contact) */
/* .bgimg-3 {

  background-image: url("NUS_logo.png");
  min-height: 400px;
} */

.w3-wide {
  letter-spacing: 10px;
}

.w3-hover-opacity {
  cursor: pointer;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {

  .bgimg-2,
  .bgimg-3 {

    background-attachment: scroll;
    min-height: 400px;
  }
}